:root {
  --spacing: .1rem;
  --spacing-menu: var(--spacing);
  --color-default: white;
  --font-size: larger;
  --color-black: #1A1A1A;
  --color-link: var(--color-default);
  --color-yellow: #FDF035;
  --pos-top: 100;
  --pos-normal: 50;
  --pos-back: 0;
  --font-family: montserrat, sans-serif;
  --font-normal: 400;
  --font-bold: 700;
}

/*
generals
*/
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover :not(.no-anim) {
  animation-name: pulse;
  animation-duration: 0.5s;
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
}
/*
structure
*/
html,
body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  background-image: url(img/bgfire.png);
  background-size: cover;
  color: var(--color-default);
  letter-spacing: var(--spacing-menu);
  box-sizing: border-box;
}

header {
  z-index: var(--pos-top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7%;
  width: 100%;
}
header .logo {
  align-self: flex-start;
  margin-left: 10%;
}
header .menu {
  display: flex;
  flex-direction: row;
  font-weight: var(--font-bold);
  margin-right: 10%;
}
header .menu div {
  margin: 0 1vw;
}

.social i:not(.fa-pipe) {
  margin: 0 0.2vw;
}

#content {
  z-index: var(--pos-normal);
  align-items: center;
  display: flex;
  flex-direction: column;
}
#content > div {
  margin: 2% 0;
  z-index: var(--pos-normal);
}
#content .torch {
  position: absolute;
  z-index: var(--pos-back);
  bottom: -15%;
  right: -15%;
}

.bg-black {
  background-color: var(--color-black);
  opacity: 0.8;
}

footer {
  z-index: var(--pos-top);
  padding: 1vh 0;
  width: 100%;
  position: inherit;
  /*position: absolute;
  bottom: 0;*/
  display: flex;
  background-color: var(--color-black);
  justify-content: space-around;
  flex-direction: row;
}
footer .menu {
  display: flex;
  flex-direction: row;
}

#about {
  justify-content: start;
}
#about div {
  width: 100%;
}
#about .top {
  text-align: right;
  vertical-align: baseline;
  background-color: var(--color-black);
  margin: 0;
  display: flex;
  height: 15vh;
  align-items: flex-end;
}
#about .top > div:last-child {
  padding-right: 10%;
  z-index: 9000;
}
#about .yellow {
  color: var(--color-black);
  background-color: var(--color-yellow);
  margin: 0;
  flex-direction: row;
  display: flex;
  height: 65vh;
  justify-content: center;
}
#about .yellow > div {
  text-align: center;
  overflow-y: visible;
  width: 40%;
}
#about .yellow li {
  text-align: left;
  list-style-image: url(img/dot.png);
  opacity: 0.9;
  margin: 2rem 0;
  font-weight: var(--font-bold);
}
#about .yellow video {
  z-index: 9000;
  width: 80%;
  margin-top: -4rem;
}

#shop {
  background-color: white;
  background-image: none;
}
#shop img {
  margin-top: 15vh;
  margin-bottom: 7.5vh;
}

#news {
  background-image: url(img/bgnews.png);
  text-align: center;
  color: var(--color-black);
  padding-top: 10vh;
}
#news > div {
  height: 34vh;
  width: 100%;
  justify-content: center;
  display: flex;
}
#news > div form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 66%;
}
#news > div form div input {
  border: none;
  padding: 0;
  font-family: var(--font-family);
  width: 50%;
  font-size: large;
  border: none;
  padding: 10px;
  box-sizing: inherit;
}
#news > div form div input[type=button] {
  font-weight: bold;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
